<%- include('../partials/head.ejs',{styles: ['base', 'footer', 'header']}) %>
<body>
    <header>
        <img src="/images/toldo.png" alt="toldo">
    </header>

    <div>
        <h1>GRACIAS POR ELEGIRNOS!!! ESPERAMOS VERTE PRONTO</h1>
        <form action="/" method="get">
            <button type="submit"><img src="/images/logo.png" alt="logo"></button>
            </form>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>