<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalle de producto</title>
    
    <%- include('../partials/head.ejs',{styles: ['productDetail']}) %>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>

        <form action="/productCart" method="get">

            <h4 class="title">¿QUE CLASE DE HAMBURGUESA VAS A QUERER?</h4>

            <div class="burguer">

                <div>
                    <label for="btnMeat">Carne</label>
                    <input type="radio" name="hamburgerType" id="btnMeat">
                </div>

                <div>
                    <label for="btnChick">Pollo</label>
                    <input type="radio" name="hamburgerType" id="btnChick">
                </div>

                <div>
                    <label for="btnLen">Lenteja</label>
                    <input type="radio" name="hamburgerType" id="btnLen">
                </div>

            </div>

            <h4 class="title">NO TE OLVIDES DE ELEGIR EL PAN!</h4>

            <div class="burguer">

                <div>
                    <label for="btnCla">Clasico</label>
                    <input type="radio" name="breadType" id="btnCla">
                </div>

                <div>
                    <label for="btnSesa">Sesamo</label>
                    <input type="radio" name="breadType" id="btnSesa">
                </div>

                <div>
                    <label for="btnCheese">Queso</label>
                    <input type="radio" name="breadType" id="btnCheese">
                </div>

            </div>

            <h4 class="title">ES HORA DE ELEGIR LOS ADERESOS</h4>

            <div class="burguer">

                <div>
                    <label for="chbMayo">Mayonesa</label>
                    <input type="checkbox" name="" id="chbMayo">
                </div>

                <div>
                    <label for="chbMost">Mostaza</label>
                    <input type="checkbox" name="" id="chbMost">
                </div>

                <div>
                    <label for="chbKet">Ketchup</label>
                    <input type="checkbox" name="" id="chbKet">
                </div>

                <div>
                    <label for="chbBbq">Barbacoa</label>
                    <input type="checkbox" name="" id="chbBbq">
                </div>

                <div>
                    <label for="chbAlta">Altapinta</label>
                    <input type="checkbox" name="" id="chbAlta">
                </div>

            </div>

            <h4 class="title">AGREGA LO QUE TE GUSTA</h4>

            <div class="option">

                <label>Fiambre:</label>
                <select name="stiff">

                    <option value="NO">none</option>
                    <option value="ja-co">Jamon cocido</option>
                    <option value="ja-cr">Jamon crudo</option>
                    <option value="lom">Lomito</option>
                    <option value="bea">Beacon</option>

                </select>

                <label>Queso:</label>
                <select name="cheese">

                    <option value="NO">none</option>
                    <option value="tybo">Tybo</option>
                    <option value="prov">Provolone</option>
                    <option value="ched">Cheddar</option>
                    <option value="azul">Azul</option>

                </select>

                <label>Hojas verdes:</label>
                <select name="green">

                    <option value="NO">none</option>
                    <option value="le">Lechuga</option>
                    <option value="ru">Rucula</option>
                    <option value="re">Repollo</option>

                </select>

                <label>Verduras crudas:</label>
                <select name="raw">

                    <option value="NO">none</option>
                    <option value="tom">Tomate</option>
                    <option value="zan">Zanahoria</option>
                    <option value="pep">Pepino</option>
                    <option value="ce">Cebolla</option>

                </select>

                <label>Verduras cocidas:</label>
                <select name="cooked">

                    <option value="NO">none</option>
                    <option value="ce-co">Cebolla caramelizada</option>
                    <option value="ve-co">Verenjena en escabeche</option>
                    <option value="to-co">Tomate confitado</option>
                    <option value="za-co">Zanahoria caramelizada</option>

                </select>

            </div>
            <section class="button-container">
            <button class="btn btn-secundary" type="reset">Cancelar</button>
            <button class="btn btn-primary" type="submit">Confirmar</button>
            
            </section>
        </form>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>