<%- include('partials/head.ejs',{styles: ['base', 'footer' , 'header' , 'index' ]}) %>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        
        <form action="/#" class="search-header">
            
            <input type="text" name="busqueda" placeholder="Buscar" class="search-input">
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </form>
        
        <div class="content-all">
            <div class="content-carrousel">
                <figure><img src="images/hamb1.png" class="img1"></figure>
                <figure><img src="images/hamb2.png" class="img2"></figure>
                <figure><img src="images/hamb3.png" clas="img3"></figure>
                <figure><img src="images/hamb2.png"clas="img4"></figure>
                <figure><img src="images/hamb2.png" class="img5"></figure>
                <figure><img src="images/hamb3.png" class="img6"></figure>
                
            </div>
        </div>
        
        <div class="text-central">
            <h1>ELEGI TU BURGER</h1>
            
            <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur totam quos expedita laborum corrupti.
                Amet expedita vitae veritatis dolorem mollitia nobis vel non voluptas voluptatum voluptatibus iste delectus
                ipsa, hic fugit quaerat tenetur est quo rem obcaecati. Dolores eius animi delectus nesciunt alias sequi
                ducimus, laborum, voluptate, fugiat dolorem vero quae nisi cupiditate. Debitis, iusto. Enim nostrum
                reprehenderit unde debitis cumque porro, sequi asperiores obcaecati, a quidem tenetur nesciunt neque aut
                iste voluptates molestiae nobis saepe mollitia fuga est exercitationem maxime aliquam? Dolorum aliquam totam
                officiis illo quia, est ratione earum autem modi et, labore ullam repellendus neque minus vel ipsum quam
                consectetur quo eveniet vero animi. Error itaque ratione fugiat amet, consequatur, cumque fuga eius modi aut
                sequi eum! Illo in eius eligendi. Ea consectetur ipsum accusantium odio totam perspiciatis aliquam
                reprehenderit veniam, qui, earum sapiente praesentium velit fugit? Facilis nemo magni illo voluptatum?
                Dolore quam atque commodi veniam consequuntur quaerat ducimus impedit, reprehenderit at enim error iusto
                labore sunt voluptate mollitia totam. Temporibus ipsam atque illum officiis tenetur tempora saepe.
                
            </p>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
    
</body>

</html>