<%- include('partials/head.ejs',{styles: ['base', 'footer' , 'header' , 'index' ]}) %>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        
        <form action="/#" class="search-header">
            
            <input type="text" name="busqueda" placeholder="Buscar" class="search-input">
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </form>
        
        <div class="content-all">
            <div class="content-carrousel">
                <figure><img src="images/hamb1.png" class="img1"></figure>
                <figure><img src="images/hamb2.png" class="img2"></figure>
                <figure><img src="images/hamb3.png" clas="img3"></figure>
                <figure><img src="images/hamb2.png"clas="img4"></figure>
                <figure><img src="images/hamb2.png" class="img5"></figure>
                <figure><img src="images/hamb3.png" class="img6"></figure>
                
            </div>
        </div>
        
            <h1>ELEGI TU BURGER</h1>
            
            <p class="text-title">¿Estás listo para hacer realidad tus sueños de hamburguesas?</p>
                
                <p class="text">Sumérgete en nuestra experiencia de poder armar la tuya propia y saborea una hamburguesa exclusivamente tuya. 
                
                Ya sea una delicia clásica de carne de res o un paraíso vegetariano, dejá volar tu imaginación y experimentá el placer de preparar una 
                comida a medida que se adapte exactamente a tus deseos, garantizando que cada bocado sea una celebración de tus papilas gustativas.
                
                Únite a nosotros en Alta Pinta y experimentá la alegría de una delicia hecha a medida y entregada directamente en tu puerta!
            
            </p>

    </main>
    
    <%- include('partials/footer.ejs') %>
    
</body>

</html>