<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/shoppingCart.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <img src="/images/toldo.png" alt="toldo" />
      <button type="submit"><img src="/images/logo.png" alt="logo" /></button>
    </header>
    <main>
      <h3>Carrito de Compras</h3>
      <section>
        <article>
          <i>imagen de mas</i>
          <i>imagen de menos</i>
          <img src="/public/images/hamb1.png" alt="Hamburguesa doble" />
          <h4></h4>
          <p>Detalle Producto</p>
          <a href="#">Ver mas</a>
        </article>
        <article>
          <img src="/public/images/hamb1.png" alt="Hamburguesa doble" />
          <h4></h4>
          <p>Detalle Producto</p>
          <a href="#">Ver mas</a>
        </article>
        <article>
          <img src="/public/images/hamb1.png" alt="Hamburguesa doble" />
          <h4></h4>
          <p>Detalle Producto</p>
          <a href="#">Ver mas</a>
        </article>
        <article>
          <img src="/public/images/hamb1.png" alt="Hamburguesa doble" />
          <h4></h4>
          <p>Detalle Producto</p>
          <a href="#">Ver mas</a>
        </article>
      </section>
    </main>
    <footer>
      <form action="/productDetail.ejs" method="post"></form>
      <button type="button">Regresar</button>
      <form action="/" method="post"></form>
      <button type="button">Comprar</button>
    </footer>
  </body>
</html>
