<%- include('partials/head.ejs',{styles: ['base', 'footer' ,'header', 'quienesSomos' ]}) %>
<body>
    <%- include('partials/headerViews.ejs') %>
    

<h1> Conocenos...</h1>
<div class="texto">
En Alta Pinta, comenzamos como un grupo de amigos apasionados por la buena comida y decididos a compartir nuestra pasión con el mundo.<br>

<br> Lo que comenzó como una idea entre amigos pronto se convirtió en una misión para ofrecer las mejores hamburguesas de la ciudad.</br>

<br>Nos regimos por los valores fundamentales de la amistad, la calidad y la comunidad. Creemos en el poder de reunir a las personas alrededor de una buena comida y en crear momentos especiales que perduren en la memoria de nuestros clientes. </br>

<br> En cada hamburguesa que servimos, nos esforzamos por reflejar estos valores. Utilizamos ingredientes frescos y de la más alta calidad, cuidadosamente seleccionados para ofrecerte una experiencia gastronómica excepcional en cada bocado.</br>

<br> Además, estamos comprometidos con nuestra comunidad y nos enorgullece apoyar a organizaciones locales y eventos benéficos siempre que podemos. Creemos en devolver a la comunidad que nos ha apoyado y en construir relaciones sólidas que trasciendan más allá de nuestras cuatro paredes. </br>

<br> Gracias por elegir Alta Pinta. Esperamos que disfrutes de nuestras hamburguesas tanto como nosotros disfrutamos al prepararlas para ti.</br>

<br>¡Bienvenido a la familia de Alta Pinta! </br>

</div>

        
    <%- include('partials/footer.ejs') %>
    

</body>
</html>