<%- include('partials/head.ejs',{styles: ['base', 'footer' ,'header ', 'index' ]}) %>
<body>
    <header>
        <img src="/images/toldo.png" alt="toldo">
    </header>
   
           
        
         <h1>Holaaaaaaaaaaaaaaaaa</h1>
        
    <%- include('partials/footer.ejs') %>

</body>
</html>