h1, h2{
    text-align: center;
}

.links-container{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.links-container a{
    color: #000;
    margin: 0px;
    padding: 0px;
}

.fa{
    color: #af1717;
}