
.footer-container{
    display: flex;
    max-width: 768px;
    width: 100%;
    padding: 50px 0;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.main-footer{
    padding: 0;
    margin-bottom: 1px;
}

footer div a i{
    color:black;
}

.footer-list {
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer-list li a{
    color:black;
}

.social-icons {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    gap: 25px;
}

.copyright{
 display: flex;
 align-content: flex-end;
 justify-content: space-evenly;
}

@media (max-width: 768px) {
    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}