main form h4.title {
    text-align: center;
    margin: 15px 0px;
    color: #af1717;
}

main form div.burguer {
    display: flex;
    justify-content: space-evenly;
}

main form div.option label {
    display: block;
    text-align: center;
}

.error-container{
    color: #fa0404;

}

main form div.option select {
    display: block;
    text-align: center;
    width: 70%;
    position: relative;
    left: 16%;
    margin-bottom: 10px;
}

@media(min-width: 769px) {

    main form h4.title {
        font-size: 18px;
    }

    main form div.burguer {
        justify-content: space-around;
    }

    main form label {
        font-size: 20px;
    }

    main form div.option select {
        height: 28px;
        font-size: 16px;
    }

}