* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  width: 95%;
  height: 80vh;
  margin: auto;
}

main section h3 {
  text-align: center;
  margin: 15px 0px;
  color: #af1717;
}

article {
  width: 80%;
  height: 100px;
  margin: 10px 30px 10px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.detailandsee {
  display: block;
}

article h4 {
  text-align: left;
  color: #af1717;
}

article .cart-plus {
  font-size: 15px;
  text-align: right;
}

article .trash {
  font-size: 15px;
  text-align: right;
}

article .image-hamburger {
  flex: -1;
}

article a {
  text-decoration: inherit;
  color: #000000;
  font-size: small;
}

section .buttons {
  display: flex;
  flex-wrap: wrap;
}

section form button {
  width: 60%;
  height: 30px;
  position: relative;
  left: 20px;
  top: 10px;
  border-radius: 5px;
  color: #fff;
}

#buy {
  background-color: #af1717;
}

#back {
  background-color: #daa520;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

section button {
  margin: auto;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  color: #fff;
}

#buy {
  background-color: #daa520;
  order: 2;
}

#back {
  background-color: #af1717;
  order: 1;
}

@media (min-width: 769px) {
}

main section h3 {
  text-align: center;
  margin: 15px 0px;
  color: #af1717;
  font-size: 35px;
}

article {
  width: 90%;
  height: 150px;
  margin: 10px 30px 10px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
}

article a {
  text-decoration: inherit;
  color: #000000;
  font-size: 20px;
}

article .cart-plus {
  font-size: 25px;
  text-align: right;
  align-items: end;
}

article .trash {
  font-size: 25px;
  text-align: right;
}
