main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content: center;
}

label{
    width: 60%; 
    text-align: center;
    display: flex;
    position: relative;
    left: 5px;
    top: 5px;
}

form input{
    width: 60%;
    margin:5px; 
    text-align: center;
    display: flex;
}
