<footer>
    <div class="footer-container">
        
        <div class="main-footer">
            <h4>CONOCENOS</h4>
            <ul class="footer-list">
                <li><a href="/#"></a>Quienes somos</a></li>
                <li><a href="/#"></a>Historia</a></li>
                <li><a href="/#"></a>Contactanos</a></li>
                <li><a href="/#"></a>Empleos</a></li>
            </ul>
        </div>
        
        <div class="social-icons">
            <a href="#" class="wh"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i  class="fab fa-instagram"></i></a>
            <a href="#"><i  class="fab fa-facebook"></i></a>
        </div>
        
        <p>copyright 2023 Alta Pinta</p>
    </div>
    
</footer>