<footer>
    <div class="footer-container">
        <div class="main-footer">
            <ul class="footer-list">
                <li><a href="/#">Quienes somos </a></li>
                <li><a href="/#">Historia </a></li>
                <li><a href="/#">Contactanos </a></li>
                <li><a href="/#">Empleos </a></li>
            </ul>
        </div>
        
        <div class="social-icons">
            <a href="#" class="wh"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i  class="fab fa-instagram"></i></a>
            <a href="#"><i  class="fab fa-facebook"></i></a>
        </div>
        <div class="copyright">
            <p>copyright 2023 Alta Pinta</p>
        </div>
    </div>
    
</footer>