<header>
    <img src="/images/toldo.png" alt="toldo">
    <form action="/" method="get">
    <button type="submit"><img src="/images/logo.png" alt="logo"></button>
    </form>
    <nav class="nav">
        <ul>
            <li><a href="/users">USUARIOS</a></li>
                  
            <li><a href="/products/products">PRODUCTOS</a></li>
        </ul>
    </nav>
</header>