<header>
    <img src="/images/toldo.png" alt="toldo">
    <form action="/" method="get">
    <button type="submit"><img src="/images/logo.png" alt="logo"></button>
    </form>
    <nav class="nav">
        <ul>
            <!-- <li><a href="/">MENU</a></li> -->
            <% if (locals.loggedIn) { %>
                <li><a href="/users/logout">CERRAR SESION</a></li>
            <% } else { %>
                <li><a href="/users/login">INICIAR SESION</a></li>
            <% } %>    
            <li><a href="/products/productDetail">COMPRAR</a></li>
        </ul>
    </nav>
</header>