<header>
    <img src="/images/toldo.png" alt="toldo">
    <button type="submit"><img src="/images/logo.png" alt="logo"></button>
    <nav class="nav">
        <ul>
            <li><a href="/">MENU</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTRARSE</a></li>      
            <li><a href="/comprar">COMPRAR</a></li>
        </ul>
    </nav>
</header>