   
    <%- include('../partials/head.ejs',{styles: ['base', 'footer', 'header', 'login']}) %>

    
<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="login-container">
        <form action="/login" method="post">
            
            <div class="label-container">
                <input type="text" name="NombreUsuario" id="txfuser" placeholder="Nombre de usuario">
            </div>
            
            <div class="label-container">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            
            <div class="button-container">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
            
        </form>
    </main>
    
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>