   
    <%- include('../partials/head.ejs',{styles: ['base', 'footer', 'header', 'login']}) %>

    
<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="form-container">
        <h2>INICIA SESION</h2> 
        <form action="/users/login" method="post">
            
            <div class="label-container">
                <input type="email" name="email" id="email" placeholder="email">
                <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= (errors.email.msg) %>
                </div>
                <% } %>
            </div>
            <div class="label-container">
                        <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <div class="button-container">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>

            <label for="recordarme">RECORDARME</label>
            <input type="checkbox" name="recordarme" id="recordarme">
        </form>
    </main>
    
    <%- include('../partials/footer.ejs') %>
    <!-- <script src="/src/public/js/login.js"></script> -->
</body>
</html> 